@page
@using ChatProject.Classerne;
@model ChatProject.Pages.ChatsideModel
@{
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Splashside</title>
    <link rel="stylesheet" href="~/css/Chatoversigtsside.css" />
</head>
<body>
    <nav>
        <div>
            <a href="/Oversigtsside">Oversigt</a>
        </div>
        <div>
            <p>@HttpContext.Session.GetString("SessionsBrugernavn")</p>
        </div>
        <div>
            <a href="/LogUd">Log ud</a>
        </div>
    </nav>

    <div id="ChatBeskedOversigt">
        @foreach (Besked besked in Model.beskederne)
        {
            <div class="ChatBeskedContainer"><p class="ChatBesked">@Model.kontoerne[Convert.ToString(besked.BeskedID)]<br><br>@besked.Text</p></div>
        }
    </div>
    <div id="ReplyContainter">
        <div id="Replyer">
            <form method="post" id="ReplyForm" style="float:left; width:100%;">
                <input type="text" pattern="{1,255}" name="besked">
                <input type="submit" value="Svar">
            </form>
        </div>
    </div>
    <footer class="footer">
        <div id="footcontainer">Kontakt: DummyEmail@gmail.com</div>
    </footer>
</body>
</html>