@page
@{
    //Layout = "_Layout2";
}
@model ChatProject.Pages.IndexModel

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Splashside</title>
        <link rel="stylesheet" href="~/css/splashside.css"/>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
    </head>
    <body >
        <H1>Chatproject v0.01</H1>
        <a id="arrow" href="/Login">
            <iconify-icon icon="akar-icons:arrow-right-thick" style="color: white;" width="125"></iconify-icon>
            </a>
    <p id="loginText">Login</p>
    </body>
<button onclick="askNotificationPermission()" id="enable">Enable notifications</button>

    <script>
    function askNotificationPermission() {
        // function to actually ask the permissions
        function handlePermission(permission) {
            // set the button to shown or hidden, depending on what the user answers
            notificationBtn.style.display =
                Notification.permission === 'granted' ? 'none' : 'block';
        }

        // Let's check if the browser supports notifications
        if (!('Notification' in window)) {
            console.log("This browser does not support notifications.");
        } else if (checkNotificationPromise()) {
            Notification.requestPermission().then((permission) => {
                handlePermission(permission);
            });
        } else {
            Notification.requestPermission((permission) => {
                handlePermission(permission);
            });
        }
    }
    function checkNotificationPromise() {
        try {
            Notification.requestPermission().then();
        } catch (e) {
            console.log("request Permission false");
            return false;
        }
        console.log("request Permission true");

        return true;
    }

    </script>
</html>

