@page
@model ChatProject.Pages.RegisterModel
@{
}
<html>
    <head>
    meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Splashside</title>
    <link rel="stylesheet" href="~/css/Loginside.css" />
</head>
    <body>
        <h1 id=loginheader>
            Velkommen til Register
        </h1>
        <form id="loginform" method="post">
            <div id="formpage1">
                <label> Navn</label>
                <input type="text" name="navn" title="skriv dit fornavn og mellemnavn her" required>
                <label> Efternavn </label>
            <input type="text" name="efternavn" title="skriv dit efternavn her" required>
                <label> Email</label>
            <input type="email" name="email" title="skriv din email her" required>
                <label> Telefonnummer </label>
            <input type="tel" name="telefonnummer" title="skriv dit telefonnummer her" pattern="[0-9]{8}" required>
                <div class="bottomForm">
                    <button type="button" onclick="toggleFormpage('formpage1', 'formpage2')">næste</button>
                </div>
            </div>

        <div id="formpage2" style="display:none;">
            <label> Personlig beskrivelse</label>
            <textarea name="personligBeskrivelse"></textarea>
            <div class="bottomForm">
                <button type="button" onclick="toggleFormpage('formpage2', 'formpage1')">tilbage</button>
                <button type="button" onclick="toggleFormpage('formpage2', 'formpage3')">næste</button>
            </div>
        </div>

        <div id="formpage3" style="display:none">
            <label> Brugernavn</label>
            <input type="text" name="brugernavn" title="skriv dit brugernavn her">
            <label> Kodeord</label>
            <input type="password" id="kodeord" name="kodeord" title="skriv dit brugernavn her" required>
            <label> Gentag kodeord </label>
            <input type="password" id="gkodeord" name="gkodeord" title="skriv dit kodeord igen" required>
            <div class="bottomForm">
                <button type="button" onclick="toggleFormpage('formpage3', 'formpage2')">tilbage</button>
                <input type="submit" value="register">
            </div>
        </div>

        <!--
        <input type="submit">
            -->
        </form>
    

        <footer class="footer">
            <div id="footcontainer">Kontakt: DummyEmail@gmail.com</div>
        </footer>
        
    </body>
    <script src="~/js/Loginside.js"></script> 
</html>